

<ion-content>
  <div class="request">
    <h1>
        REQUESTS TO DO
    </h1>
  </div>
  <div class="container" padding>


    <div class="card">

        <div class="image">
          <img src="../../assets/Samuel_L._Jackson.jpg" alt="No Image">
        </div>
        <div class="details">
          <div class="det">
            <p style="font-size: 4vw;font-weight: bold">Samuel L Jackson</p>
            <p style="font-size: 3vw">Dippenaar St, Diepkloof Zone, Johannesburg</p>
            <p style="font-size: 3vw">Contacts</p>
            <p style="font-size: 2.5vw">015 325 256</p>
          </div>
        </div>

      </div>
    </div>
</ion-content>
