<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="the-map">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings">
      <ion-icon name="filing"></ion-icon>
      <ion-label>BOOKINGS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="business"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>ANALYTICS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>INFO</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
 