<ion-content fullscreen>
  <ion-slides>

    <ion-slide>
      <div class="container">
        <div class="road">
        </div>
        <div class="prof">
          <div class="top">
            <div class="reviews">

              <div class="fab">
                <ion-fab-button color="light" size="small">
                  <ion-icon name="star-half"></ion-icon>
                </ion-fab-button>
              </div>
              <div class="">
                Reviews
              </div>
            </div>
            <div class="exit">


              <div class="cout">
                Sign Out
              </div>
              <div class="fab">
                <ion-fab-button color="light" size="small">
                  <ion-icon name="arrow-round-forward"></ion-icon>
                </ion-fab-button>
              </div>
            </div>
          </div>

          <div class="pp">
            <img src="../../assets/imagePlaceholder.svg" alt="">
          </div>

          <div class="div">
            <div class="div1">
              <div class="dv1"></div>
            </div>
            <div class="div2">
              <a>bUSINESS pROFILE</a>
            </div>
            <div class="div3">
              <div class="dv2"></div>
            </div>
          </div>
          <div class="cont">
            <div class="blank">

            </div>
            <div class="inputs">
              <a>
                Address
              </a>
              <input type="text">
              <a>
                School name
              </a>
              <input type="text">
              <a>
                Cell number
              </a>
              <input type="text">
              <a>
                cOST P/L
              </a>
              <input type="text">
              <a>
                dESCRIPTION
              </a>
              <input type="text">
              <div class="next">
                <div class="btn">

                
                  <div class="cout">
                      Next
                    </div>
                    <div class="fab">
                      <ion-fab-button color="light" size="small">
                        <ion-icon name="arrow-round-forward"></ion-icon>
                      </ion-fab-button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      Hii
    </ion-slide>

    <ion-slide>
      supppppppppppppp
    </ion-slide>

  </ion-slides>

</ion-content>