ion-slides {
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: fixed;

    .road {
        width: 15%;
        height: 100%;
        background: url('../../assets/Group_461.svg');
        background-size: cover;
        object-fit: cover;
    }
    .prof {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 85%;
        .top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // border: 1px solid red;
            height: 10%;
            align-items: center;
            .reviews {

            }
            .exit {
                display: flex;
                flex-direction: row;
                align-items: center;
                background: #BF3F33;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                color: white;
                justify-content: center;
                align-items: center;
                height: 65%;
            }
            .reviews{
                display: flex;
                flex-direction: row;
                align-items: center;
                background: #F29F05;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                color: white;
                justify-content: center;
                align-items: center;
                height: 65%; 
            }
        }
    }
    .pp{
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22%;
    }
    .div{
        display: flex;
        flex-direction: row;
        height: 5%;

        .div1{
            width: 15%;
            // border: 1px solid green;
            display: flex;
            justify-content: center;
            align-items: center;
            .dv1{
                border: 1px solid #707070;
                width:100%;
            }
        }
        .div2 {

            // border: 1px solid red;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                font-size: 5vw;
                color: black;
            }
        }
        .div3{
            // border: 1px solid yellow;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            .dv2{
                border: 1px solid #707070;
                width:100%;
            }
        }
    }
    .cont {
        display: flex;
        flex-direction: row;
        height: 63%;
        overflow: scroll;
        .blank{
            width:20%;
            height: 100%;

        }
        .inputs{
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            a{
                color: black;
                font-size: 5vw;
            }
            
            input {
                outline: none;
                background: #752323;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                color: white;
                width: 100%;
                height: 12vw;
                border: none;
            }
            .next {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: flex-end;
                .btn{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 65%;
                    width: 40%;
                    background: #BF3F33;
                    color: white;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;

                }
            }

        }
    }
}