<ion-content fullscreen>
  <ion-slides>

    <ion-slide>
      <div class="container">
        <div class="road">
        </div>
        <div class="prof">
          <div class="top">
            <div class="reviews">

              <div class="fab">
                <ion-fab-button (click)="goToReviews()" color="light" size="small">
                  <ion-icon name="star-half"></ion-icon>
                </ion-fab-button>
              </div>
              <div class="">
                Reviews
              </div>
            </div>
            <div class="exit">


              <div class="cout">
                Sign Out
              </div>
              <div class="fab">
                <ion-fab-button color="light" size="small">
                  <ion-icon name="arrow-round-forward"></ion-icon>
                </ion-fab-button>
              </div>
            </div>
          </div>

          <div class="pp">
            <img src="../../assets/imagePlaceholder.svg" alt="">
          </div>

          <div class="div">
            <div class="div1">
              <div class="dv1"></div>
            </div>
            <div class="div2">
              <a>bUSINESS pROFILE</a>
            </div>
            <div class="div3">
              <div class="dv2"></div>
            </div>
          </div>
          <div class="cont">
            <div class="blank">

            </div>
            <div class="inputs">
              <a>
                Address
              </a>
              <input type="text">
              <a>
                School name
              </a>
              <input type="text">
              <a>
                Cell number
              </a>
              <input type="text">
              <a>
                cOST P/L
              </a>
              <input type="text">
              <a>
                dESCRIPTION
              </a>
              <input type="text">
              <div class="next">
                <div class="btn">


                  <div class="cout">
                    Next
                  </div>
                  <div class="fab">
                    <ion-fab-button color="light" size="small">
                      <ion-icon name="arrow-round-forward"></ion-icon>
                    </ion-fab-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container2">
        <div class="road2">
        </div>
        <div class="prof2">
          <div class="operate">
            <div class="d1">
              <div class="dv1"></div>
            </div>
            <div class="d2">
              <a>Operating Hours</a>
            </div>
            <div class="d3">
              <div class="dv2"></div>
            </div>
          </div>

          <div class="time">
            <div class="t1">
              <a>Opening time</a>
              <ion-item>
                <ion-datetime displayFormat="HH:mm">
                </ion-datetime>
              </ion-item>
            </div>
            <div class="t2">

            </div>

            <div class="t1">
              <a>Closing Time</a>
              <ion-item>
                <ion-datetime displayFormat="HH:mm">
                </ion-datetime>
              </ion-item>
            </div>
            <div class="t2">

            </div>

          </div>

          <div class="operate">
            <div class="d1">
              <div class="dv1"></div>
            </div>
            <div class="d2">
              <a>pACKAGES</a>
            </div>
            <div class="d3">
              <div class="dv2"></div>
            </div>
          </div>
          <div class="contPacks">
            <div class="packs">
              <div class="pack">
                <a>Code 08</a>
                <a>5 lessons</a>
              </div>

              <div class="pack">
                <a>Code 08</a>
                <a>5 lessons</a>
              </div>

              <div class="pack">
                <a>Code 08</a>
                <a>5 lessons</a>
              </div>

              <div class="pack">
                <a>Code 08</a>
                <a>5 lessons</a>
              </div>
            </div>
            <div class="inputs">
              <a>
                cODE
              </a>
              <input type="text">
              <a>
                nAME
              </a>
              <input type="text">
              <a>
                dESCRIPTION
              </a>
              <input type="text">
              <a>
                aMOUNT
              </a>
              <input type="text">
            </div>
          </div>
          <div class="addPack">
            <button>
              Add Package
            </button>
          </div>
          <div class="next">
            <div class="btn">


              <div class="cout">
                Finish
              </div>
              <div class="fab">
                <ion-fab-button color="light" size="small">
                  <ion-icon name="arrow-round-forward"></ion-icon>
                </ion-fab-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>