
<ion-content>
  <div class="container">
    <div class="top">
      <div class="image">
        <img src="../../assets/Samuel_L._Jackson.jpg" alt="">
      </div>
      <div class="name">
        <p>
            Samuel L.Jackson
        </p>
      </div>
    </div>
    <div class="say">
      <p>
        People said
      </p>
    </div>
    <div class="comments">

      <div class="first">
        
        <div class="pic">
          <ion-avatar>
              <img src="../../assets/Samuel_L._Jackson.jpg" />
          </ion-avatar>

        </div>
        <div class="com">
            <h1>Nick Fury</h1>
            <a>23 Jul 2019</a>
            <p>
                Samuel Leroy Jackson is an American actor and film producer.
            </p>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>
   